<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dhb.study.user.mapper.UserMapper">

    <select id="getUser" resultType="dhb.study.user.domain.User">
		select userId,userName,address,age,sex from tb_user where userId = #{userId}
	</select>

</mapper>